apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        command: ["/bin/sh"]
        args:
          - -c
          - |
            sed "s/POD_NAME/$POD_NAME/g; s/POD_IP/$POD_IP/g; s/NODE_NAME/$NODE_NAME/g" \
              /template/index.html > /usr/share/nginx/html/index.html; 
            nginx -g 'daemon off;'
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        volumeMounts:
        - name: template-volume
          mountPath: /template/
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
      volumes:
      - name: template-volume
        configMap:
          name: nginx-html-template